<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="outer-frame" style="background-color: aqua;">
        <div class="list" style="background-color: wheat;">
            <div class="frame" style="background-color: rebeccapurple;">
                <div class="inner-frame" style="background-color: teal;">
                    <div class="list-item">
                        <input type="checkbox"/>Test
                    </div>
                    <div class="list-item">
                        <input type="checkbox"/>Test2
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>